<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <listener>
        <listener-class>
            by.gsu.epamlab.controller.listeners.ServiceContextListener
        </listener-class>
    </listener>

    <listener>
        <listener-class>
            by.gsu.epamlab.controller.listeners.FileLocationContextListener
        </listener-class>
    </listener>


    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file.dir</param-name>
        <param-value>fileStorage</param-value>
    </context-param>


    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>by.gsu.epamlab.controller.filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/showtasks</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>


    <!--wrong adress redirect-->
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/404.jsp</location>
    </error-page>


</web-app>
