.tasks-table {
    max-height: 600px;
    overflow: auto;
}

.section-row {
    margin-top: 20px;
}

.task-row {
    border-top: 1px solid gray;
}

.startPage {
    margin-top: 30px;
}

.check-box-cell input {
    margin-top: 15px;
}

.text-cell span {
    display: inline-block;
    margin-top: 10px;
}


.custom-file-name:after {
   content: attr(data-content) !important;
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   height: 100%;
   overflow: hidden;
   padding: 0.5rem 1rem;
}
